.cover__link {
  display: grid;
  align-items: center;
  color: #FFF;
  text-decoration: none;
  margin: auto;
}

@media (min-width: 1280px) {
  .cover__link {
    max-width: 1184px;
  }
}

.cover__link:hover .cover__overlay {
  opacity: 0.8;
}