@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../vendor/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../vendor/fonts/Inter-Black.woff2") format("woff2");
}

.page {
  font-family: "Inter", "Arial", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #2A2C2F;
  color: #FFF;
  padding: 28px 48px 24px;
}

@media (max-width: 768px) {
  .page {
    padding: 28px 24px 24px;
    
  }
}

@media (max-width: 425px) {
  .page {
    padding: 16px 16px 24px;
  }
}