.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 14px;
  padding: 0 48px;
}

@media (min-width: 1280px) {
  .photo-grid {
    width: 1184px;
    align-self: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    padding: 0 24px;
  }
}

@media (max-width: 425px) {
  .photo-grid {
    grid-template-columns: 1fr;
    grid-gap: 12px;
    padding: 0 16px;
  }
}