.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}

@media (min-width: 1280px) {
  .lead {
    max-width: 984px;
  }
}