/* Здесь были адаптивные шрифты vw, но я поменял как по макету */
.lead__title {
  font-weight: 900;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 44px;
}

@media (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
  }
}