.place {
  display: grid;
  grid-template-columns: 440px 1fr;
  row-gap: 48px;
  column-gap: 32px;
}

@media (min-width: 1280px) {
 .place {
    grid-template-columns: 460px 1fr;
    column-gap: 40px;
 } 
}

@media (max-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
  }
}

@media (max-width: 665px) {
  .place {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
}